{# TSUNG report charts #}

{% macro chart(chart_name, title, xheader, yheader, dataset) %}
    const ctx_{{ chart_name }} = document.getElementById('chart_{{ chart_name }}').getContext('2d');
    const dataset_{{ chart_name }} = {{ dataset }};
    new Chart(ctx_{{ chart_name }}, {
      type: 'line',
      data: { datasets: dataset_{{ chart_name }} },
      options: {
        responsive: true,
        plugins: {
          title:  { display:true, text:'{{ title }}' },
          legend: { position:'bottom' }
        },
        parsing: false,                    // мы уже передали {x,y}
        scales: {
          x: { type:'linear', title:{ display:true, text:'{{ xheader }}' } },
          y: {           title:{ display:true, text:'{{ yheader }}'       } }
        }
      }
    });
{%- endmacro %}

<div style="width: 80%; margin: 0 auto;">
    {% for chart_name, data in charts.items() %}
            <h2> {{ data.title }} </h2>
            <canvas id="chart_{{ chart_name }}"></canvas>
    {% endfor %}
</div>

<script>
{% for chart_name, data in charts.items() %}
        {{ chart(chart_name, data.title, data.xheader, data.yheader, data.json) }}
{% endfor %}
</script>

