{# TSUNG report tables #}

{% macro table(headers, data) %}

<table>
    <thead>
    <tr>
        {% for key in headers -%}
            <th> {{ key }} </th>
        {%- endfor %}
    </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                {% for cell in row -%}
                    <td>{{ cell }}</td>
                {%- endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}


{% for key, data in tables.items() %}
    {%- if data.data -%}
        <h2> {{ data.title }} </h2>
        {{ table(data.header, data.data) }}
    {%- endif -%}
{% endfor %}